@using Ticari_Otomasyon.Models.Classes
@model List<Fatura>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered" style="margin-top:20px;">
    <tr>

        <th>Seri Sıra No</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>

    </tr>
    @foreach (var k in Model)
    {

<tr>

    <td>@k.SeriNo @k.SiraNo</td>
    <td>@k.Tarih</td>
    <td>@k.Saat</td>
    <td>@k.Toplam</td>

    <td><a href="/Fatura/FaturaGetir/@k.Id" class="btn  btn-warning">Güncelle</a></td>
    <td><a href="/Fatura/FaturaDetay/@k.Id" class="btn  btn-primary">Detay</a></td>
    <td><a href="/Fatura/YeniKalem/@k.Id" class="btn  btn-default" style="background-color:cadetblue">Ekle</a></td>
   

</tr>
    }
</table>
<br />
<a href="/Fatura/Dinamik/" class="btn btn-dark">Yeni Fatura Girişi </a>
<br /> <br />
<button type="button" class="btn btn-default" style="background-color:#bb6868"; color: white" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
               <h2 class="modal-title"> Popup Diyalog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>
                    @foreach(var x in Model)
            {
                <tr>
                    <td>@x.SeriNo</td>
                    <td>@x.SiraNo</td>
                    <td>@x.Toplam</td>
                </tr>
            }
                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>

</div>