@using Ticari_Otomasyon.Models.Classes;
@model List<Urun>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>

        <th>#</th>
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Stok Adedi</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th> Durum</th>
        <th> Kategori</th>
        <th> Ürün Sil</th>
        <th> Ürün Güncelle</th>
        <th> Detay</th>


    </tr>

    @foreach (var p in Model)
    {

        <tr>
            <th> @p.Id </th>
            <td> @p.Ad </td>
            <td> @p.Marka </td>
            <td> @p.StokAdedi </td>
            <td> @p.AlısFiyati  ₺ </td>
            <td> @p.SatisFiyati  ₺ </td>
            <td> @p.Durum </td>
            <td> @p.Kategori.KategoriAdi</td>

         
            <td><a href="/Urun/UrunSil/@p.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGetir/@p.Id" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/UrunDetay/Index/@p.Id" class="btn btn-info">Detay</a></td>
        </tr>
    }
</table>
<a href="/Urun/YeniUrun/" class="btn btn-dark">Ürün Ekle</a>