@using Ticari_Otomasyon.Models.Classes
@model List<SatisHareket>
@{
    ViewBag.Title = "DepartmanPersonelSatis";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<h2>Departman Personel Satis</h2>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Personel Adı: @ViewBag.dpers</li>
</ol>

<table class=" table table-condensed">
    <tr>

        <th>Ürün</th>
        <th>Cari</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>Yazdır</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Urun.Ad</td>
            <td>@x.Cari.Ad @x.Cari.Soyad</td>
            <td>@x.Fiyat ₺</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar</td>
            <td>@x.Tarih</td>
            <td><a href="#" class="btn btn-default" style="background-color:dodgerblue">Yazdır</a></td>
        </tr>
    }

</table>