@using Ticari_Otomasyon.Models.Classes
@model List<SatisHareket>
@{
    ViewBag.Title = "SatisDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Satış Detayı</h2>
<br />

<table class=" table table-condensed">
    <tr>
        <th>Satış Id</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Toplam</th>
        <th>Tarih</th>


    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SatisId</td>
            <td>@x.Urun.Ad</td>
            <td>@x.Cari.Ad @x.Cari.Soyad</td>
            <td>@x.Personel.Ad  @x.Personel.Soyad</td>
            <td>@x.Fiyat</td>
            <td>@x.Adet</td>
            <td>@x.ToplamTutar</td>
            <td>@x.Tarih</td>

        </tr>
    }

</table>
<button class="btn btn-default" style="background-color:dodgerblue">Yazdır</button>